<div class="table">
  <div class="header">
    <h1>Currencies</h1>
    <div>
      <button *ngIf="!addNew" (click)="showAddForm()" class="addButton">
        <i class="material-icons my-float md-48" style="font-size:25px;">add</i>
      </button>
      <button *ngIf="addNew" (click)="showAddForm()" class="addButton">
        <i class="material-icons my-float md-48" style="font-size:25px;">close</i>
      </button>

    </div>

  </div>

  <div class="animated zoomIn form" *ngIf="addNew">
    <h2>Add new currency</h2>
    <p *ngIf="error !== ''" style="color:red"><strong>{{error}}</strong></p>
    <div class="add-form">
      <div>
        <input type="text" id="name" placeholder="Currency Name" [(ngModel)]="newName" style="width:200px" />
        <br>

      </div>

      <div>
        <input type="text" id="symbol" style="width:80px" maxlength="3" placeholder="Symbol" [(ngModel)]="newSymbol" />
        <br>
      </div>


      <button (click)="addCurr()" class="addButton">
        <i class="material-icons my-float md-48" style="font-size:20px;">save</i>
      </button>
      <button (click)="showAddForm()" class="addButton" style="background-color:#333">
        <i class="material-icons my-float md-48" style="font-size:25px;">close</i>
      </button>
    </div>
  </div>
  <div class="animated zoomIn form" *ngIf="editItem">
    <h2>
      Edit <em style="color:#555">{{ editName }}</em>
    </h2>
    <p *ngIf="error !== ''" style="color:red"><strong>{{error}}</strong></p>
    <div class="add-form">
      <input type="text" id="name" [(ngModel)]="editName" style="width:200px" />

      <input type="text" id="symbol" style="width:80px" [(ngModel)]="editSymbol" />

      <button (click)="submitEdit()" class="addButton">
        <i class="material-icons my-float md-48" style="font-size:20px;">done</i>
      </button>
      <button (click)="hideEditForm()" class="addButton" style="background-color:#333">
        <i class="material-icons my-float md-48" style="font-size:20px;">close</i>
      </button>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let curr of currencies; let ind = index">
        <td>{{ curr.name }}</td>
        <td>{{ curr.symbol }}</td>

        <td>
          <i class="material-icons md-18" (click)="editCurr(curr)"> create </i>
          <i class="material-icons del md-18" (click)="modalSwitch(curr)">delete</i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="modal" id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="modalSwitch()">&times;</span>
    <p>Are you sure you want to delete currency <span class="red">{{ deleteName.name }}</span> with symbol <span class="red">{{
        deleteName.symbol }}</span></p>

    <p style="font-size:0.5em; color:red">THIS WILL SELECTED DELETE CURRENCY FORM DATABASE!!!</p>
    <button (click)="removeCurr()" class="addButton">
      <i class="material-icons my-float md-48" style="font-size:20px;">done</i>
    </button>
    <button (click)="modalSwitch()" class="addButton" style="background-color:#333">
      <i class="material-icons my-float md-48" style="font-size:20px;">close</i>
    </button>
  </div>

</div>